@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="jumbotron">
    <div><h2>Student Consultant/Developer</h2></div>
    <div><h4>Gore Nitrogen Pumping Service LLC - Norman, OK</h4>	January 2021 – Present</div>
    <ul>
        <li>Interact with corporate partners to solve an IT related issue</li>
        <li>Assess scope of project and determine client needs</li>
        <li>Strategize as a group to determine possible solutions</li>
        <li>Present findings to client executive team</li>
    </ul>
</div>

<div class="jumbotron">
    <div><h2>Student Manager - Equipment</h2></div>
    <div><h4>University of Oklahoma Football - Norman, OK</h4> February 2018 – October 2020</div>
    <ul>
        <li>Worked effectively in a fast pace environment to accomplish organization goals</li>
        <li>Managed Inventory of equipment and supplies for over 100 player and coaches</li>
        <li>Collaborated as a group of 10 co-workers in the completion of duties and tasks</li>
        <li>Effectively communicated with coworkers to coordinate projects and assignments</li>
    </ul>
</div>

<div class="jumbotron">
    <div><h2>Outside Guest Service</h2></div>
    <div><h4>Ko Olina Resort and Spa Golf Club - Kapolei, Hawaii</h4> May 2017 – July 2017</div>
    <ul>
        <li>Provided guest with the ultimate golfing experience</li>
        <li>Maintained golf equipment and over 90 golf carts</li>
        <li>Ensured cleanliness around golf course and locker rooms</li>
        <li>Assisted in customer service duties</li>
    </ul>
</div>