@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('https://images.unsplash.com/photo-1505852679233-d9fd70aff56d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80');
    }
</style>

<h1>Introduction</h1>

<p class="jumbotron">
    Welcome to my personal website. My name is Ikaia Bernardino and a soon to be graduate of the University of Oklahoma with 3+ years of hands-on experience.
    Aiming to leverage a proven knowledge of programming, information systems and problem-solving skills to successfully fill the
    Management Informational Systems role at your company. Frequently praised as diligent by my peers, I can be relied upon to help
    your company achieve its goals and objectives. I have experience with managing databases, programming, systems analysis and 
    cybersecurity and infrastructures, to name a few. Along with experience, I bring a positive attitude as well as the eagerness 
    to learn that is driven by curiousity.
</p>

<p class="jumbotron">
    This website was designed to showcase my knowledge in programming with HTML, CSS and Bootstrap. I want to demonstrate that I have the 
    necessary skills and knowledge to be profficient and effective information systems manager or developer. I will be constantly 
    updating this page to add on new features or designs that can make my website more appealing. If you have any suggestions feel free 
    to contact me at ikbernardino17@gmail.com.
</p>
