@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .card {
        width: 20%;
        height: 250px;
        float: left;
        margin-left: 10px;
        margin-bottom: 10px;
    }
</style>

<div class="row">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Program Languages</h5>
            <ul>
                <li>C#</li>
                <li>JAVA</li>
                <li>SQL</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>VBA</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Soft Skills</h5>
            <ul>
                <li>Effective Communicator</li>
                <li>Efficient</li>
                <li>Hard Worker</li>
                <li>Customer Service</li>
                <li>Consulting</li>
                <li>Positive Attitude</li>
                <li>Motivator</li>
            </ul>
        </div>
    </div>
</div>

